.dropbtn {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember",sans-serif;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 150px;
    height: 30px;
    margin-top: 120px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
li > button{
    list-style-type: none;
    border-top: 1px solid #ccc;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #f9f9f9;
    width: 150px;

}
ul {
    list-style: none;
}

//ul li {
//    margin-bottom: 5px;
//    border-bottom: 2px #404B51 dotted;
//    font-size: 26px;
//    line-height: 1;
//}
//
//ul li span:nth-child(odd) {
//    padding-right: 6px;
//    color: #404B51;
//}


//.dropdown:hover .dropbtn {
//    background-color: #3e8e41;
//}

.dd-wrapper {
    display: flex;
    min-height: 38px;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 120px;

    .dd-header {
        border: 2px solid gray;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        width: 150px;
        height: 30px;
        padding: 2px 20px;

        &__title--bold {
            font-weight: bold;
            margin: 5px 20px 10px 20px;
        }
    }

    .dd-list {
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
        padding: 0;
        margin: 0;
        width: 190px;

        li {
            list-style-type: none;

            &:first-of-type {
                > button {
                    border-top: 1px solid #ccc;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                }
            }

            &:last-of-type > button {
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
            }

            button {
                display: flex;
                justify-content: space-between;
                background-color: white;
                font-size: 16px;
                padding: 15px 20px 15px 20px;
                border: 0;
                border-bottom: 1px solid #ccc;
                width: 100%;
                text-align: left;
                border-left: 1px solid #ccc;
                border-right: 1px solid #ccc;

                &:hover, &:focus {
                    cursor: pointer;
                    font-weight: bold;
                    background-color: #ccc;
                }
            }
        }
    }
}
